# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/sigba_db
DB_USER=postgres
DB_PASS=postgres

# Keycloak
KEYCLOAK_ISSUER=http://localhost:8080/realms/sigba-realm
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=sigba-realm
KEYCLOAK_CLIENT_ID=sigba-frontend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASS=admin123

# Mail (Mailpit en local - interface web : http://localhost:8025)
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
